<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="container shadow-lg bg-white">
        <% if @business.banner_photo.attached? %>
          <div class="banner-profile" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url('<%= cl_image_path @business.banner_photo.key %>');"></div>
        <% else %>
          <div class="banner-profile" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1507598641400-ec3536ba81bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);"></div>
        <% end %>
        <div class="container mt-2">
          <div class="row profile-top">
            <div class="profile-image ml-3">
              <% if @business.avatar.attached? %>
                <%= cl_image_path @business.avatar.key, class: "avatar-profile" %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar-profile" %>
              <% end %>
            </div>
            <div class="profile-name ml-3">
              <h2><%= @business.name %></h2>
              <p><em><%= @business.short_bio %></em></p>
              <p>text text text</p>
            </div>
            <div>
              <% if !@user.businesses.include?(@business) %>
                <% if !@user.bookmarked_businesses.include?(@business) %>
                  <i class="far fa-bookmark"></i>
                  <%= link_to "Add to bookmarks", business_bookmarks_path(@business), method: :post %>
                <% else %>
                  <i class="fas fa-bookmark"></i>
                  <%= link_to "Remove from bookmarks", bookmark_path(@bookmark), method: :delete  %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row justify-content-center">
            <ul class="list-inline tabs-underlined">
              <li><a href="#" class="tab-underlined active">About</a></li>
              <li><a href="#" class="tab-underlined">Images</a></li>
              <li><a href="#" class="tab-underlined">Contact</a></li>
              <li><a href="#" class="tab-underlined">Newsfeed</a></li>
              <li><a href="#" class="tab-underlined">Chat</a></li>
            </ul>
            <hr>
          </div>
              <p><%= @business.long_bio %></p>

              <div class="business-image">
                <% if @business.business_photos.attached? %>
                  <%= cl_image_path @business.business_photos.first.key, width: 400, height: 400, crop: :fill %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1507598641400-ec3536ba81bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80", class: "owner" %>
                <% end %>
              </div>

              <p><em><%= @business.owner_name %></em></p>
              <p><em><%= @business.owner_bio %></em></p>

              <div class="owner-image">
                <% if @business.owner_photo.attached? %>
                  <%= cl_image_path @business.owner_photo.key, width: 400, height: 400, crop: :fill, gravity: :face %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1507598641400-ec3536ba81bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80", class: "owner" %>
                <% end %>
              </div>

              <p><em><%= @business.address %></em></p>
              <p><em><%= @business.opening_hours %></em></p>
              <p><em><%= @business.telephone %></em></p>
              <p><em><%= @business.email %></em></p>
              <p><em><%= @business.website_url %></em></p>

            </div>

        </div>


      </div>
    </div>
  </div>



 <div class="row justify-content-center">
  <div class="col-6">
    <h1 class="text-center">Recent Posts</h1>
    <p  class="text-center"><%= @business.name %> has <%= pluralize @business.posts.size, "recent post" %></p>
    <hr>
    <div id="posts">
      <% if @business.posts.blank? %>
      <%# if policy(Post).create? %>
        <p> <%= @business.name %> has no posts yet</p>
      <% else %>
        <% @business.posts.each do |p| %>
          <%= render partial: 'posts/post', locals: { post: p } %>
        <% end %>
      <% end %>
    </div>
    <hr>
    <% if current_user == @business.user %>
      <h2 class="text-center">Create a post</h2>
      <p class="text-center">----------</p>
      <%= simple_form_for([@business, @post]) do |f| %>
        <div class="form-inputs">
          <%= f.input :content %>
          <%= f.input :post_image, as: :file %>
        </div>
        <div class="form-actions mb-2">
          <%= f.button :submit, "Create Post", class: "btn btn-flat" %>
        </div>
        <hr>

      <% end %>
    <% end %>

    </div>
  </div>
</div>


