<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="container shadow-lg bg-white">
        <% if @business.banner_photo.attached? %>
          <div class="banner-profile" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url('<%= cl_image_path @business.banner_photo.key %>');"></div>
        <% else %>
          <div class="banner-profile" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1507598641400-ec3536ba81bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80);"></div>
        <% end %>
        <div class="container mt-2">
          <div class="row profile-top">
            <div class="profile-image ml-3">
              <% if @business.avatar.attached? %>
                <%= cl_image_tag @business.avatar.key, class: "avatar-profile" %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar-profile" %>
              <% end %>
            </div>
            <div class="profile-name ml-3 mb-4">
              <h2><%= @business.name %></h2>
              <p><em><%= @business.address %></em></p>
              <p><em><%= @business.short_bio %></em></p>
            </div>
            <div>
            <% if current_user %>
              <% if !@user.businesses.include?(@business) %>
                <% if !@user.bookmarked_businesses.include?(@business) %>
                  <%= link_to raw('<i class="far fa-bookmark"></i>'), business_bookmarks_path(@business), method: :post, remote: true %>
                <% else %>
                  <%= link_to raw('<i class="fas fa-bookmark"></i>'), bookmark_path(@bookmark), method: :delete, remote: true %>
                <% end %>
              <% end %>
              <% end %>
            </div>
          </div>
          <div class="row justify-content-center">
            <!-- Tab links -->
            <ul class="tab">
              <button class="tablinks" onclick="changeTabDisplay(event, 'About')">About</button>
              <button class="tablinks" onclick="changeTabDisplay(event, 'Images')">Images</button>
              <button class="tablinks" onclick="changeTabDisplay(event, 'Contact')">Contact</button>
              <button class="tablinks" onclick="changeTabDisplay(event, 'Newsfeed')">Newsfeed</button>
              <button class="tablinks" onclick="changeTabDisplay(event, 'Chat')">Chat</button>
            </ul>
            <hr>
            <!-- Tab content -->
            <div id="About" class="tabcontent">
             <!--  <h3">About</h3> -->
            </div>
            <div id="Images" class="tabcontent">
             <!--  <h3>Images</h3> -->
            </div>
            <div id="Contact" class="tabcontent">
              <!-- <h3>Contact</h3> -->
            </div>
            <div id="Newsfeed" class="tabcontent">
              <!-- <h3>Newsfeed</h3> -->
            </div>
            <div id="Chat" class="tabcontent">
              <!-- <h3>Chat</h3> -->
            </div>
              <!-- CSS in other file not yet rendered -->
              <!-- JS -->
          </div>
          <!-- About -->
          <div id= "About-Box" class="box">
             <p><%= @business.long_bio %></p>

              <div class="business-image">
                <% if @business.business_photos.attached? %>
                  <%= cl_image_tag @business.business_photos.first.key, width: 400, height: 400, crop: :fill %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1507598641400-ec3536ba81bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80", class: "owner" %>
                <% end %>
              </div>

              <p><strong> Meet <%= @business.owner_name %></strong></p>
              <p><em><%= @business.owner_bio %></em></p>

              <div class="owner-image">
                <% if @business.owner_photo.attached? %>
                  <%= cl_image_tag @business.owner_photo.key, width: 400, height: 400, crop: :fill, gravity: :face %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1507598641400-ec3536ba81bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80", class: "owner" %>
                <% end %>
              </div>
          </div>
              <!-- Posts/Newsfeed -->
              <div>
                <div>
                <% if current_user == @business.user %>
                  <h2 class="text-center">Create a post</h2>
                  <p class="text-center">----------</p>
                  <%= simple_form_for([@business, @post]) do |f| %>
                    <div class="form-inputs">
                      <%= f.rich_text_area :post_text %>
                      <%= f.input :post_image, as: :file %>
                    </div>
                    <div class="form-actions mb-2">
                      <%= f.button :submit, "Create Post", class: "btn btn-flat", remote: true %>
                    </div>
                  <hr>
                      <% end %>
                    <% end %>
                  </div>
                </div>
          <div id= "Newsfeed-Box" class= "box">
            <div class="row justify-content-center mt-4">
              <div class="bookmark-cards mb-2">
                <h1 class="text-center" id="recent_posts">Recent Posts</h1>
                <p  class="text-center mt-2"><%= @business.name %> has <%= pluralize @business.posts.size, "recent post" %></p>
                <hr>
                <div class="text-center" id="posts">
                  <% if @business.posts.blank? %>
                  <%# if policy(Post).create? %>
                    <p> <%= @business.name %> has no posts yet</p>
                  <% else %>
                    <% @posts.each do |post| %>
                      <%= render partial: 'posts/post', locals: { post: post } %>
                    <% end %>
                  <% end %>
                </div>
                <hr>
              </div>
            </div>
          </div>
              <!-- Contact -->
              <div id="Contact-Box" class="box">
              <p><em><%= @business.opening_hours %></em></p>
              <p><em><%= @business.telephone %></em></p>
              <p><em><%= @business.email %></em></p>
              <a><em><%= @business.website_url %></em></a>
              </div>
              <!-- Chat -->
              <div id= "Chat-Box" class= "box">
                <%= render "conversations/show" %>
              </div>
            <script type="text/javascript">
              function changeTabDisplay(evt, tabName) {
                // Declare all variables
                var i, tabcontent, tablinks;

                // Get all elements with class="tabcontent" and hide them
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                  tabcontent[i].style.display = "none";
                }
                const boxes = document.getElementsByClassName("box")
                for (i = 0; i < boxes.length; i++) {
                  boxes[i].style.display = "none";
                }
                // Get all elements with class="tablinks" and remove the class "active"
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                  tablinks[i].className = tablinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";
                document.getElementById(`${tabName}-Box`).style.display = "block";
                }
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
<%= link_to "add event", new_business_event_path(@business)  %>

