<div class="container mt-4">
  <h1 class="text-center">Your Bookmarks</h1>
  <hr>
  <row class="row justify-content-center">
    <div class="col-10">
      <p>Filter by category</p>
      <%= link_to "All", bookmarks_path, class: "category_btn" %>
      <% @categories.each do |category| %>
        <%= link_to category.name, bookmarks_path(query: @category, category: category.name), class: "category_btn #{"btn_active" if @category && @category.name == category.name}" %>
      <% end %>
    </div>

  </row>

  <div id="list">
    <div class="row flex-row flex-nowrap" id="list-items">
      <% @businesses.each do |business| %>
        <div class="col-3">
          <%= render partial: 'businesses/business_card', locals: { business: business } %>
        </div>
      <% end %>
    </div>
    <% if params[:category].present? && @businesses.present? %>
    <p>Check your neighbourhood for more <%= link_to @category.name, businesses_path(query: @address, category: @category.name) %> !</p>
    <% end %>
    <% if params[:category].present? && @businesses.blank? %>
    <p>You have no bookmark! Check your neighbourhood for <%= link_to @category.name, businesses_path(query: @address, category: @category.name) %> !</p>
    <% end %>
  </div>
  <br><br>

  <div class="d-flex">
    <div class="row justify-content-center">
      <div class="col-6">
        <p class="text-center"><strong>Recent Posts from your bookmarked businesses</strong></p>
        <hr>
          <% if @posts %>
            <div class="container">
              <% @posts.each do |post| %>
                <div class="post shadow-sm bg-white">
                  <%= render partial: 'posts/post', locals: { post: post } %>
                </div>
              <% end %>
            </div>
          <% end %>
      </div>
      <div class="col-6">
        <p class="text-center"><strong>Recent Events from your bookmarked businesses</strong></p>
        <hr>
        <% if @events %>
          <div class="container">
            <% @events.each do |event| %>
              <div class="post shadow-sm bg-white">
                <%= render partial: 'events/event_card', locals: { event: event } %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
