<div class="container mt-4">
<% if current_user %>
  <% @recipient = conversation.user == current_user ? conversation.business.name : conversation.user.first_name%>
  <h5>Your chat with: <%= link_to @recipient, business_path(conversation.business) %></h5>
  <br>
    <div id="messages" data-conversation-id="<%= conversation.id %>">
      <% if @conversation.user == current_user %>
        <% conversation.messages.last(4).each_with_index do |message, index| %>
          <div class="message-container" id="message-<%= message.id %>">
            <% if index.even? %>
                <small>From: <%= message.conversation.user.first_name %></small>
                <p><%= message.content %></p>
                <small>Sent at: <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                <hr>
            <% else %>
                <small>From: You</small>
                <p><%= message.content %></p>
                <small>Sent at: <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                <hr>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if @conversation.user == current_user %>
        <% conversation.messages.last(4).each_with_index do |message, index| %>
          <div class="message-container" id="message-<%= message.id %>">
            <% if index.even? %>
                <small>From: You </small>
                <p><%= message.content %></p>
                <small>Sent at: <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                <hr>
            <% else %>
                <small>From: <%= conversation.business.name %></small>
                <p><%= message.content %></p>
                <small>Sent at: <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                <hr>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
      <div class="container mt-4">
      <%= simple_form_for [ conversation, message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Send #{business.name} a message" %>
        <%= f.button :submit, "Send Message", class: "btn btn-flat", remote: true %>
      <% end %>
    </div>
  <% end %>
</div>
