<div class="container mt-4">
  <% if current_user %>
  <h4>Conversation with: <%= link_to conversation.business.name, business_path(conversation.business) %></h4>
    <div id="messages" data-conversation-id="<%= conversation.id %>">
      <% conversation.messages.each do |message| %>
        <div class="message-container" id="message-<%= message.id %>">
          <% if message.conversation.user == current_user %>
            <div class="justify-content-left">
              <i class="author">
              <small>From: <%= message.conversation.user.first_name %></small>
              <p><%= message.content %></p>
              <small>Sent at: <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
              </i>
            </div>
          <% else %>
            <div class="justify-content-right">
              <i class="author">
              <small>From: <%= message.conversation.user.businesses.first.name %></small>
              <p><%= message.content %></p>
              <small>Sent at: <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
              </i>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    </div>
    <div class="container mt-4">
    <%= simple_form_for [ conversation, message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Send #{business.name} a message" %>
      <%= f.button :submit, "Send Message", class: "btn btn-flat", remote: true %>
    <% end %>
  <% end %>
</div>
