<% if current_user %>
<% unless @business.user == current_user %>
<h1>Conversation with: <%= @business.name %></h1>
<div id="messages" data-conversation-id="<%= @conversation.id %>">
  <% @conversation.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <% if message.commentable_type == "User" %>
        <span><%= message.commentable.username %></span>
        <% else %>
        <span><%= message.commentable.name %></span>
        <% end %>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>

<%= simple_form_for [ @conversation, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@business.name}" %>
  <%= f.button :submit, "Send Message", class: "btn btn-flat", remote: true %>
<% end %>
<% end %>
<% end %>
