<nav id="sidebar" class="active">
  <div class="p-4">
    <ul class="list-unstyled components mb-5">
      <br><br>
      <li>
        <%= link_to raw('<i class="fas fa-home mr-3"></i>Home'), businesses_path %>
      </li>
      <li>
        <%= link_to raw('<i class="fas fa-search mr-3"></i>Search'), root_path  %>
      </li>
      <% if current_user %>
      <li>
        <%= link_to raw('<i class="fas fa-users mr-3"> </i>Community Feed'), posts_path %>
      </li>
      <li>
        <%= link_to raw('<i class="far fa-bookmark mr-3"> </i>Bookmarks'), bookmarks_path %>
      </li>
      <% if current_user.business_owner == true %>
      <li>
        <%= link_to raw('<i class="far fa-user mr-3"></i>Business Profile'), business_path(current_user.business_ids) %>
      </li>
      <% end %>
      <li>
         <%= link_to raw('<i class="far fa-bookmark mr-3"> </i>Inbox'), conversations_path %>
      </li>
      <li>
        <%= link_to raw('<i class="far fa-edit mr-3"></i>Create Post'), business_path(current_user.business_ids) %>
      </li>
      <li>
        <%= link_to raw('<i class="far fa-calendar-plus mr-3"></i>Events'), events_path %>
      </li>
      <li>
        <%= link_to raw('<i class="fas fa-cog mr-3"></i>Settings'), edit_user_registration_path %>
      </li>
      <li>
        <%= link_to raw('<i class="far fa-map mr-3"></i>Map View'), root_path %>
      </li>
    </ul>
    <% end %>
    <br><br>
    <div class="footer fixed-bottom p-4">
      <p> About | Usage Guide |<br>Terms of Use |<br>Privacy Policy </p>
      <p>©2020 InnerMile</p>
    </div>
  </div>
</nav>
