<div class="background-map">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 shadow-lg bg-white rounded">
        <div class="banner-event">
          <h4><%= link_to 'Bookmark Event', business_event_path(@event.business, @event), method: :post, remote: true, class: "btn btn-flat" %></h4>
          <div class="container event-header">
            <h3><%= @event.date.strftime("%B %d") %>, <%= @event.time %></h3>
            <h2><%= @event.event_name %></h2>

            <div class="row event-host d-flex align-items-center">
              <div class="media mr-2">
                <%= cl_image_tag @event.business.avatar.key, class: "business-avatar rounded-circle" %>
              </div>
              <div class="host-details">
                <h4>Hosted by</h4>
                <h3><%= link_to @event.business.name, business_path(@event.business) %></h3>
                <small><span><i class="fa fa-map-pin mr-1" aria-hidden="true"></i><%= @event.business.address %></span></small>
              </div>
            </div>
          </div>
        </div>

        <div class="event-body">
          <div class="event-details">
            <h4>Details</h4>
            <% if @event.description.blank? %>
              <p>Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Fuga veniam atque quae tenetur veritatis inventore necessitatibus nesciunt aliquid! Eveniet ut, aliquam doloribus reiciendis minima fugiat voluptas et ex quisquam commodi. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, alias. Quod sit vitae repudiandae maxime corrupti praesentium. Quo exercitationem beatae doloribus, provident tenetur officia tempora, autem architecto ut facere adipisci.</p>
            <% else %>
              <p><%= @event.description %></p>
            <% end %>
            <div class="event-image">
              <% if @event.event_image.attached? %>
                <%= cl_image_tag @event.event_image.key %>
              <% else %>
                <img src="https://images.unsplash.com/photo-1507598641400-ec3536ba81bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=80" alt="Event">
              <% end %>
            </div>
          </div>
<<<<<<< HEAD
          <div class="event-side">
            <div class="event-data">
              <h4><span><i class="fa fa-map-pin mr-2" aria-hidden="true"></i><%= @event.location %> </span></h4>
              <h4><span><i class="far fa-calendar-plus mr-2" aria-hidden="true"></i><%= @event.date.strftime("%B %d") %></span></h4>
              <h4><span><i class="far fa-clock mr-2" aria-hidden="true"></i><%= @event.time %></span></h4>
              <h4> > Save event on your calender</h4>
            </div>
            <div class="event-map">
              <div id="index_map" style="width: 100%; height: 420px"
                data-markers="<%= @marker.to_json %>"
                data-home-marker="<%= @home_marker.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
=======
        </div>
        <div class="event-side">
          <div class="event-data">
            <h4><span><i class="fa fa-map-pin mr-2" aria-hidden="true"></i><%= @event.location %> </span></h4>
            <h4><span><i class="far fa-calendar-plus mr-2" aria-hidden="true"></i><%= @event.date.strftime("%B %d") %></span></h4>
            <h4><span><i class="far fa-clock mr-2" aria-hidden="true"></i><%= @event.time %></span></h4>
            <h4> > Save event on your calender</h4>
          </div>
          <div class="event-map">
            <div id="show_map" style="width: 100%; height: 420px"
              data-markers="<%= @marker.to_json %>"
              data-home-marker="<%= @home_marker.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
>>>>>>> master
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
