<div class="map_container">


  <div id="home_map" style="width: 100vw; height: 100vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="map-overlay">
  </div>

  <div class="container-home">
        <h1>InnerMile</h1>
        <h2>Discover your local world within one mile of your home.</h2>
        <div class="home-searchbar">
          <%= form_tag businesses_path, method: :get do %>
            <div class="searchbar">
              <%= text_field_tag :query,
                  params[:query],
                  placeholder: 'Enter your home address or try "Berlin"'
                %>
                <%= submit_tag "Explore", class: "button_search" %>
            </div>
          <% end %>
        </div>
  </div>




</div>

